* {
  cursor: url(/root/images/customCursor.png), auto;
  font-family: sans-serif;
}

html {
  background: black;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin-top: -80px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  background: none;
}

.top-left {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  gap: 10px;
  z-index: 10;
}

.top-right {  
  display: flex;
  position: fixed;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  gap: 10px;
}

.bottom-left {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 10px;
  gap: 10px;
  color: white;
  font-size: 14px;
}

.page-heading {
  text-align: center;
  margin-top: 50%;
  font-size: 72px;
  font-weight: bold;
}

.page-subheading {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-top: -10%;
}

.button {
  border: none;
  background: none;
  color: white;
}

.button:hover {
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: line-through;
  text-underline-offset: 5px;
  color: #6a6a6a;
}

@media screen and (max-width: 600px) {
  .top-right {
    display: flex;
    margin-top: 10px;
    margin-left: -25px;
    gap: 10px;
    overflow: hidden;
  }

  .btn-hidden {
    display: none;
  }
}